/.idea/
/project/boot/
/project/plugins/project
target/
lib_managed/
src_managed/
test-output/
*.iml
vms
*.log
*.sc
radu
a
rulz
checks
src/main/resources/scripts
scrap.sc
out
src/main/scala/org/change/v2/runners/Run.scala
*.output
*.json